@import url("https://fonts.googleapis.com/css?family=Inter:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

ion-slides {
  height: 100% !important;
  width: 100% !important;
}

ion-slide {
  width: 100% !important;
}

.ion-padding {
  --padding-top: none !important;
  --padding-bottom: none !important;
  --padding-end: none !important;
  --padding-start: none !important;
}

.forma_paula_prada {
  width: 1000px;
  position: absolute;
  top: 60px;
  right: 70px;
}

.forma_esq {
  height: 568px;
  width: 78px;
  position: absolute;
  top: -26px;
  right: 0px;
}

.content-text-paula-prada {
  width: 350px;
  text-align: start;
  position: absolute;
  top: 280px;
  left: 170px;
}

.ion-slide-left {
  background-color: #7b7b7b !important;
}

.content-dir {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.content-missao {
  top: 250px;
  left: 20px;
}

.content-visao {
  top: 450px;
  left: 380px;
}

.content-valores {
  position: absolute;
  top: 200px;
  left: 700px;
}

.title-quem-sou {
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000 !important;
}

.text {
  font-weight: normal;
  line-height: 18px;
}

.text-paula-prada > p {
  font-size: 16px;
  color: #000000;
}

.title-quem-sou-dir {
  padding-bottom: 20px;
}

.text-dir {
  color: #0f0f0f;
}

.title-paula-prada {
  position: absolute;
  letter-spacing: 0em;
  left: 100px;
  top: 50px;
}
