@import url("https://fonts.googleapis.com/css?family=Inter:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

ion-slides {
  height: 100% !important;
  width: 100% !important;
}

ion-slide {
  width: 100% !important;
}

.ion-padding {
  --padding-top: none !important;
  --padding-bottom: none !important;
  --padding-end: none !important;
  --padding-start: none !important;
}

.forma_paula_prada {
  width: 800px;
  position: absolute;
  top: 0px;
  right: 100px;
}

.forma_esq {
  height: 655px;
  width: 100px;
  position: absolute;
  top: -133px;
  right: -6px;
}

.content-text-paula-prada {
  width: 270px;
  text-align: start;
  position: absolute;
  top: 165px;
  left: 257px;
}

.ion-slide-right {
  background-color: #7b7b7b !important;
}

.forma-dir {
  width: 900px;
  height: 700px;
  position: absolute;
  top: -18%;
  left: 0%;
}

.content-dir {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

.content-missao {
  top: 50px;
  left: 570px;
}

.content-visao {
  top: 250px;
  left: 280px;
}

.content-valores {
  position: absolute;
  top: 100px;
  left: 0px;
}

.title-quem-sou {
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000 !important;
}

.text {
  font-weight: normal;
  line-height: 18px;
}

.text-paula-prada > p {
  font-size: 13px;
  color: #000000;
}

.title-quem-sou-dir {
  font-size: 25px;
  padding-bottom: 20px;
}

.text-dir {
  color: #0f0f0f;
}

.title-paula-prada {
  position: absolute;
  letter-spacing: 0em;
  left: 100px;
  top: 50px;
}
