.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  display: flex;
  align-items: flex-end;
  width: 760px;
  height: 370px;
}

#main-chameleon {
  transform: scale(1.7, 1.4);
  margin-top: 100px;
  height: 100%;
}

#signature {
  width: 350px;
  z-index: 1;
}

#homepage {
  --background: linear-gradient(
    322.72deg,
    #c4c4c4 -53.55%,
    rgb(60, 60, 60) -53.54%,
    rgb(196, 196, 196) 87.22%
  ) !important;
}

.chameleon-signature {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
   