ion-content {
  --background: var(--white) !important;
}

#page {
  position: relative;
  width: 100%;
  height: 100%;
}

#top-right-stack {
  position: absolute;
  right: 0;
  top: 0;
}

#bottom-left-stack {
  position: absolute;
  bottom: 0;
  left: 0;
}

#infobox-1 {
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 1;
}

#infobox-2 {
  position: absolute;
  bottom: 30%;
  right: 15%;
}
