@import url("https://fonts.googleapis.com/css?family=Inter:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

ion-slides {
  height: 100%;
  width: 100%;
}

ion-slide {
  width: 100%;
}

.ion-padding {
  --padding-top: none;
  --padding-bottom: none;
  --padding-end: none;
  --padding-start: none;
}

.ion-content {
  --background: #8cb8ba;
}

.slide-content {
  position: relative;
  width: 100%;
  height: 100%;
}

p {
  margin: 0px;
  padding: 6px;
}

.text-content {
  position: absolute;
  height: -webkit-fill-available;
}
.text-content-esq {
  left: 25px;
}

.text-content-dir {
  right: 25px;
}

.title-content {
  height: -webkit-fill-available;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 150px;
  padding-bottom: 150px;
}

.title-content-esq {
  align-items: flex-start;
}

.title-content-dir {
  align-items: flex-end;
}

.img-content {
  position: absolute;
  right: 0;
  bottom: 0;
}

.forma-branca {
  position: absolute;
  bottom: 0;
}

.forma-branca-esq {
  right: 0;
  width: 970px;
}

.forma-branca-dir {
  left: 0;
  width: 984px;
}

.img-inclui {
  position: absolute;
  z-index: -1;
  width: 700px;
  left: 20px;
  bottom: 130px;
}

.description-content {
  width: 600px;
  position: absolute;
  bottom: 100px;
  right: 50px;
}

.description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px;
  z-index: 9999;
}

.description-text {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: black;
  z-index: 9999;
}

.setas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  color: #f0f0f0;
}

.title-non-select {
  color: #8cb8ba;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.title-dir {
  color: black;
  position: absolute;
  bottom: 75px;
  left: 210px;
  line-height: 36.31px;
  font-size: 30px;
}
