@media screen and (max-width: 1051px) {
  .table {
    display: flex;
    flex-direction: column;
  }

  .img {
    max-width: 1025px !important;
  }
}

.table {
  width: 100%;
  display: flex;
}

.table1 {
  width: 100%;
}

.img {
  height: 100%;
  width: 100%;
  max-width: 468px;
  max-height: 312.61px;
  min-width: 468px;
  min-height: 312.61px;
  object-fit: contain;
}

.text {
  font-family: Inter;
  font-style: normal;
}

.title {
  height: 150px;
  max-height: 150px;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 70px;
}

.description {
  padding-top: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
