.video-stack {
  position: relative;
  width: 400px;
  height: 280px;
}

.video-stack > :first-child {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.video-stack > :first-child > div > video {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.video-stack > :last-child {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#top-video {
  top: 0;
  right: 0;
  border-bottom: 2px solid var(--white);
  border-left: 2px solid var(--white);
}

#bottom-video {
  bottom: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

.modal-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  --width: 100vw;
  --height: 100vh;
}
